*{
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: "Arial", "Helvetica Neue, Helvetica, sans-serif;"
    color: #777;
    width: 90%;
    font-size: 18px;
    background-color: #777;
    margin: 0 auto;
}

header{
    background: #ebebeb;
    text-align: center;
    height: 100px;
    margin-bottom: 25px;
    padding: 40px;
    color: gray;
    margin-top: 25px;
}
nav{
    background: #ebebeb;
    text-align: center;
    height: 100px;
    margin-bottom: 25px;
    padding: 40px;
    color: gray;

}
div{
    height:300px;
}
.inside{
    color: #777;
    background: #ebebeb;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    vertical-align: middle;
}
section{
    background: #ebebeb;
    width: 55%;
    float: left;
    height: 100%;
    margin-bottom: 25px;
    color: gray;
}
aside{
    background: #ebebeb;
    float: right;
    width: 40%;
    height: 100%;
    color: gray;
}
footer{
    background: #ebebeb;
    vertical-align: middle;
    padding: 35px;
}
article{
    color: #ebebeb;
    background: #777;
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}
h2{
    color: #777;
    background: #ebebeb;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    vertical-align: middle;
    padding: 8px;
}
p{
    color: #777;
    background: #ebebeb;
    width: 90%;
    margin: 20 auto;
    height: 50px;
    /* margin-left: 17px; */
    vertical-align: middle;
    padding: 10px;
}
footer{
    clear: both;
    background: #ebebeb;
    height: 100px;
}